{% extends "layout.html" %}
{% block content %}
<div class="chat-container">
  <div class="app-header">🚗駐車場検索</div>
  <div id="chatBody"></div>
  <div id="mapArea" style="display:none;"></div>
  <div class="input-area">
    <div class="input-row">
      <input type="text" id="chatInput" placeholder="メッセージを入力...">
      <button id="chatSend">送信</button>
    </div>
    <div class="button-row">
      <button id="gpsSearch">現在地</button>
      <button id="chatReset">リセット</button>
    </div>
</div>
</div>
{% endblock %}